<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data science Tools and Ecosystem

In this notebook, Data science Tools and Ecosystem are summarized

 # Objectives: 
list popular languages that data scientists used,list commonly used libraries that data scientists used,create and execute markdown cell with tabel,create and execute markdown cell with arithmetic expression and create and execute code cell with arithmetic expression

 Some of the popular languages that data scientist use are:
        
        1. python
        2. R
        3. SQL

 Some of the commonly used libraries used by Data scientist include:
        
        1. Panda
        2. Tensorflow
        3. Apachespark

|data science tools|
|------------------|
|jupyter Notbook   |
|R studio          |
|Apache Zeppline   |

### Below are a few examples of evalueting arithemetic expression in python.

In [23]:
"This a simple arithmetic expression to multiply then add integers."

(3*4)+5

17

In [24]:
"this will convert 200 minutes to hours by dividing by 60."

200/60

3.3333333333333335

## AUTHOR
DAWIT ABADI